<nav class="nav " style= "background: #5899E2" >
   <%= link_to "Dares", root_path, class: "nav-link text-dark" %>
   <%= link_to "Truths", truths_path, class: "nav-link text-dark text-bold" %>
   <%= link_to "Never Have I evers", nevers_path, class: "nav-link text-dark text-bold" %>
  
</nav>